<novo-list direction="vertical">
  <novo-form *ngIf="addingNewTask" [form]="todoForm" (keyup.enter)="addTodo(todoForm)">
      <div class="novo-form-row">
          <novo-control [form]="todoForm" [control]="todoControl"></novo-control>
      </div>
  </novo-form>
    <novo-list-item *ngFor="let item of checklist">
        <item-header>
            <item-title>
                {{item.subject}}
            </item-title>
        </item-header>
        <item-content>
            <novo-checkbox [(ngModel)]="item.isCompleted" [label]="item.subject" [layoutOptions]="layoutOptions"></novo-checkbox>
        </item-content>
    </novo-list-item>
</novo-list>
