<novo-list direction="vertical">
    <novo-list-item *ngFor="let item of checklist">
        <item-header>
            <item-title>
                {{item.title}}
            </item-title>
        </item-header>
        <item-content>
            <!--<novo-checkbox [(ngModel)]="item.done" [label]="item.title" [layoutOptions]="layoutOptions"></novo-checkbox>-->
            <novo-checkbox [(ngModel)]="item.done" [label]="item.title"></novo-checkbox>
        </item-content>
    </novo-list-item>
</novo-list>