task-list {
    novo-list {
        padding: 2em;
        padding-top: 0;
        novo-list-item {
            border-bottom: 0;
            padding-left: 5px;
            padding-bottom: 0;
            item-header item-title {
                margin-bottom: 1em;
                novo-checkbox .check-box-group { 
                    label {
                        align-items: center;
                        span {
                            border-bottom: none;
                            max-width: 500px;
                            margin-left: 5px;
                            padding-top: 2px;
                            color: #4A89DC;
                            font-weight: 600;
                        }
                        i {
                            &.bhi-check {
                                background: #8CC152;
                                width: 2em;
                                padding: .4em 0 0 .5em;
                                height: 2em;
                            }

                            &.bhi-circle-o {
                                //todo - icons aren't aligned in same spot
                                font-size: 1.75em;
                            }
                        }
                    }
                    .checked {
                        span {
                            text-decoration: line-through;
                            font-style: italic;
                            color: #868686;
                        }
                    }
                }
            }
            item-content {
                margin-left: 2.8em;
                .field {
                    margin-right: 4em;
                    .label {
                        width: 100%;
                        text-transform: uppercase;
                        color: #9e9e9e;
                        font-weight: 600;
                        font-size: 0.9em;
                        margin-bottom: 0.5em;
                    }
                    .value {
                        color: #3d464d;
                        .time {
                            color: #9e9e9e;
                        }
                    }
                }
            }
        }

        .novo-form-row {
            max-width: 550px;
            //need to do this without using important
            width: 80vw !important;
            label {
                max-width: 150px;
                margin-left: 21px;
                margin-right: 0;
            }
            novo-control {
                width: 77vw;
            }
        }

    }
}
