<novo-form *ngIf="addingNewTask" [form]="todoForm" (keyup.enter)="addTodo(todoForm)" layout="vertical">
    <novo-control [form]="todoForm" [control]="isCompletedControl"></novo-control>
    <div class="form-container">
        <div class="novo-form-row">
            <novo-control [form]="todoForm" [control]="subjectControl"></novo-control>
        </div>
        <div class="novo-form-row three-column">
            <novo-control [form]="todoForm" [control]="typeControl"></novo-control>
            <novo-control [form]="todoForm" [control]="dueDateControl"></novo-control>
            <div class="form-buttons">
            <button theme="dialogue" color="light" (click)="close()">Cancel</button>
            <button theme="dialogue" icon="check" color="primary" [loading]="loading" (click)="addTodo(todoForm)">Save</button>
            </div>
        </div>
    </div>
  </novo-form>
<novo-list direction="vertical">
    <novo-list-item *ngFor="let item of checklist">
        <item-header>
            <item-title (click)="openTask(item)">
                <novo-checkbox [(ngModel)]="item.isCompleted" [label]="item.subject" [layoutOptions]="layoutOptions"></novo-checkbox>
            </item-title>
             <item-header-end>
                    <span class="{{item.dueType}}">
                        <i class="bhi-appointment"></i>
                        {{ item.dueText }}
                    </span>
                </item-header-end>
        </item-header>
        <item-content>
            <div class="field">
                <div class="label">Due</div>
                <div class="value">
                    <span class="date">{{item.dateBegin | date: 'shortDate'}}</span>
                    <span class="time">{{item.dateBegin | date: 'shortTime'}}</span>
                </div>
            </div>
            <div class="field">
                <div class="label">Type</div>
                <div class="value">{{item.type}}</div>
            </div>
        </item-content>
    </novo-list-item>
</novo-list>
