@import 'task-list/task-list.component';

complex-todo-card {
    padding: 1em;
    novo-nav {
        background: none;
        border-bottom: 1px solid #eee;
    }
    button.add-button {
      :hover {
        background: none;
      }
      div.flex-wrapper {
        position: absolute;
      }
  }
}
