@import 'task-list/task-list.component';

complex-todo-card {
    padding: 1em;
    display: flex;
    flex-direction: column;
    background: white;
    novo-nav[theme="white"] {
        background: none;
        border-bottom: 1px solid #eee;
        padding-left: 2.5em;
        .link {
            display: flex;
            flex: 5 0 0;
        }
    }
    button.add-button {
        padding: 0.25em 0.75em;
    }
}
