<div *ngIf="!connected" class="error-container">
  <i class="bhi-inactive"></i>
  <h2 class="details">Cannot connect to Bullhorn.</h2>
  <h3 class="details">This app can only be run inside of Bullhorn as a Custom Card on a Record. Please contact your admin if this is in error.</h3>
</div>
<div *ngIf="connected" class="custom-card">
  <div *ngIf="loading" class="loading-container">
    <novo-loading></novo-loading>
  </div>
  <div *ngIf="!loading" class="content">
    <div *ngIf="errorMessage" class="error-container">
      <i class="bhi-caution"></i>
      <h2 class="details">{{errorMessage}}</h2>
      <h3 class="details">{{errorDetails}}</h3>
    </div>
    <div *ngIf="!errorMessage" class="card-content">
      <div class="doughnut-chart-container">
        <app-doughnut-chart [probability]="score" description="Score"></app-doughnut-chart>
      </div>
      <div class="details-button-container">
        <button (click)="toggleDetails()" *ngIf="!this.showDetails"
                icon="expand" theme="secondary">Why This Score?
        </button>
        <button (click)="toggleDetails()" *ngIf="this.showDetails"
                icon="collapse" theme="secondary">Why This Score?
        </button>
      </div>
      <div *ngIf="showDetails" class="details">
        <div class="numbers-container">
          <div *ngIf="useStartDate" class="days-until-start number">
            <div class="value {{scoreCategory}}">{{daysUntilStartDate | number: '1.0-0' }}</div>
            <label>Days Until Start Date</label>
          </div>
          <div *ngIf="!useStartDate" class="days-open number">
            <div class="value {{scoreCategory}}">{{daysOpen | number: '1.0-0' }}</div>
            <label>Days Open</label>
          </div>
          <div class="average submission number">
            <div class="value">{{averages.daysToFirstSuccessfulSubmit | number: '1.0-0' }}</div>
            <label>Days to Submit
              <i class="bhi-info"
                 tooltip="Average number of days for a filled job to receive submissions (on average)."
                 tooltipPosition="bottom"></i>
            </label>
          </div>
          <div class="average placement number">
            <div class="value">{{averages.daysToFirstFill | number: '1.0-0' }}</div>
            <label>Days to Fill
              <i class="bhi-info"
                 tooltip="Average number of days between date of job creation and first placement."
                 tooltipPosition="bottom-left"></i>
            </label>
          </div>
        </div>
        <div class="historic-jobs-container">
          <app-historic-jobs [historicJobCategories]="historicJobCategories"
                             [isNovoEnabled]="isNovoEnabled"
                             [jobMeta]="jobMeta"></app-historic-jobs>
        </div>
      </div>
    </div>
  </div>
</div>
